<dal name="DBDal">
  <databaseSets>

    <databaseSet name="testorm_sqlserver" provider="sqlProvider">
      <add name="testorm_sqlserver" databaseType="Master" connectionString="server=YUZD\SERVERQ;database=Test;uid=sa;pwd=p@ssw0rd;"/>
    </databaseSet>

  </databaseSets>

  <databaseProviders>
    <add name="sqlProvider" type="AntData.ORM.DbEngine.Providers.SqlDatabaseProvider,AntData.ORM"/>
  </databaseProviders>

</dal>