<dal name="DBDal">
  <databaseSets>

    <databaseSet name="testorm_sqlserver" provider="sqlProvider">
      <add name="testorm_sqlserver" databaseType="Master" connectionString="server=YUZD\SERVERQ;database=Test;uid=sa;pwd=p@ssw0rd;"/>
    </databaseSet>
    
    <databaseSet name="testorm" provider="mySqlProvider">
      <add name="testorm" databaseType="Master" connectionString="Server=127.0.0.1;Port=3306;Database=testorm;Uid=root;Pwd=123456;charset=utf8;SslMode=none"/>
    </databaseSet>

    <databaseSet name="testorm1" provider="mySqlProvider">
      <add name="testorm1" databaseType="Master" connectionString="Server=127.0.0.1;Port=28747;Database=testorm1;Uid=root;Pwd=123456;charset=utf8;SslMode=none"/>
    </databaseSet>

    <databaseSet name="testpgorm" provider="postgreProvider">
      <add name="testpgorm" databaseType="Master" connectionString="Server=127.0.0.1;Port=5432;Database=pgTest;User Id=postgres;Password=postgres;Pooling=true;MinPoolSize=10;MaxPoolSize=100;"/>
    </databaseSet>
    
  </databaseSets>

  <databaseProviders>
    <add name="sqlProvider" type="AntData.ORM.DbEngine.Providers.SqlDatabaseProvider,AntData.ORM"/>
    <add name="mySqlProvider" type="AntData.ORM.Mysql.MySqlDatabaseProvider,AntData.ORM.Mysql"/>
    <add name="postgreProvider" type="AntData.ORM.Postgre.PostgreDatabaseProvider,AntData.ORM.Postgre"/>
  </databaseProviders>

</dal>