<dal name="DBDal">
  <databaseSets>

    <databaseSet name="testorm" provider="mySqlProvider">
      <add name="testorm1" databaseType="Master" connectionString="Server=127.0.0.1;Port=28747;Database=testorm;Uid=root;Pwd=123456;charset=utf8;"/>
    </databaseSet>

    <databaseSet name="testormrw" provider="mySqlProvider">
      <add name="testorm1" databaseType="Master" connectionString="Server=192.168.11.130;Port=3306;Database=testorm;Uid=root;Pwd=123456;charset=utf8;"/>
      <add name="testorm2" databaseType="Slave" connectionString="Server=192.168.11.133;Port=3306;Database=testorm;Uid=root;Pwd=123456;charset=utf8;"/>
    </databaseSet>
    
    <databaseSet name="testshardingdb" provider="mySqlProvider" shardingStrategy="class=AntData.DbEngine.Sharding.ModShardingStrategy;column=ID;mod=2;shardByDB=true">
      <add name="testorm_sharding0"  databaseType="Master" sharding="0" connectionString="Server=127.0.0.1;Port=28747;Database=testorm1;Uid=root;Pwd=123456;charset=utf8;"/>
      <add name="testorm_sharding1"  databaseType="Master" sharding="1" connectionString="Server=127.0.0.1;Port=28747;Database=testorm2;Uid=root;Pwd=123456;charset=utf8;"/>
    </databaseSet>

    <databaseSet name="testshardingtable" provider="mySqlProvider" shardingStrategy="class=AntData.DbEngine.Sharding.ModShardingStrategy;column=ID;mod=2;tableSharding=0,1;shardByDB=false;shardByTable=true">
      <add name="testshardingtable"  databaseType="Master" connectionString="Server=127.0.0.1;Port=28747;Database=testorm3;Uid=root;Pwd=123456;charset=utf8;"/>
    </databaseSet>
    
    <databaseSet name="testorm_sqlserver" provider="sqlProvider">
      <add name="testorm_sqlserver" databaseType="Master" connectionString="server=YUZD\SERVERQ;database=Test;uid=sa;pwd=p@ssw0rd;"/>
    </databaseSet>

    <databaseSet name="testorm_oracle" provider="oracleProvider">
      <add name="testorm_oracle" databaseType="Master" connectionString="Data Source=192.168.1.6/orcl;User ID=test;Password=test"/>
    </databaseSet>
  </databaseSets>

  <databaseProviders>
    <add name="mySqlProvider" type="AntData.ORM.Mysql.MySqlDatabaseProvider,AntData.ORM.Mysql"/>
    <add name="sqlProvider" type="AntData.ORM.DbEngine.Providers.SqlDatabaseProvider,AntData.ORM"/>
    <add name="oracleProvider" type="AntData.ORM.Oracle.OracleDatabaseProvider,AntData.ORM.Oracle"/>
  </databaseProviders>

</dal>