<dal name="DBDal">
  <databaseSets>

    <databaseSet name="testorm" provider="mySqlProvider">
      <add name="testorm1" databaseType="Master" connectionString="Server=127.0.0.1;Port=28747;Database=testorm;Uid=root;Pwd=123456;charset=utf8;"/>
      <!--<add name="testorm2" databaseType="Slave" connectionString="Server=192.168.1.7;Port=3306;Database=testorm;Uid=root;Pwd=123456;charset=utf8;"/>-->
    </databaseSet>

    <databaseSet name="testorm_sqlserver" provider="sqlProvider">
      <add name="testorm_sqlserver" databaseType="Master" connectionString="server=YUZD\SERVERQ;database=Test;uid=sa;pwd=p@ssw0rd;"/>
    </databaseSet>
    
  </databaseSets>

  <databaseProviders>
    <add name="mySqlProvider" type="AntData.ORM.Mysql.MySqlDatabaseProvider,AntData.ORM.Mysql"/>
    <add name="sqlProvider" type="AntData.ORM.DbEngine.Providers.SqlDatabaseProvider,AntData.ORM"/>
  </databaseProviders>

</dal>